---
---

@import "variables";
@import "navbar";
@import "syntax";
@import "cards";
@import "tags";
@import "author";
@import "post";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.adjust-index{
  z-index:0 !important;
}

p {
	line-height: 1.5rem;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	font-weight: 200;
}
a {
  color: #036666;
  font-weight: bold;
}
.grey-text.text-lighten-1 {
  color: #6e6e6e !important;
}

h1 {
  font-size: 3.1rem;
  border-bottom: solid 3px $lightMainColor;
}
h2 {
  font-size: 2.5rem;
  border-bottom: solid 2px $lighterMainColor;
}
h3 :not(.author-name) {
  font-size: 2.0rem;
  border-bottom: solid 1px $secondaryColor;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}
.side-nav {
  margin-top: 64px;
  z-index: 2000;
}
.side-nav > li > a {
  text-align: left;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .post-title {
    font-size: 35px;
  }

  .author-img {
    width: 50%;
    padding-bottom: 5px;
  }

  .author-info {
    text-align: center;
  }
}

@media screen and (max-width : 1250px ){
    .blog-posts {
        width: 98%;
    }
}

@media screen and (max-width : 768px ){
    .container-main {
        width: 98%;
    }
}

footer.page-footer {
  margin: 0;
  padding-top: 0px;
  background-color: $mainColor;

  .footer-copyright {
    background-color: $mainColor;
  }

  .container {
    color: $lighterMainColor;
  }
}
